doctype 5
html
  include ../includes/head
  body
    .container-fluid
      .row-fluid
        include ../includes/sidebar
        form.span10(method="POST", action="")
          .row-fluid
            h1 Create a new post
          .row-fluid
            .span9
              h2 Title
              input.input-block-level(name="title", placeholder="Today is awesome")
              h2 Content
              textarea.input-block-level(name="content")
            .span3
              p Metadata and stuff
              button.btn(type="submit") Save post
