!!!
html
  include ../general/head
  body
    .container-fluid
      .row-fluid
        include ../general/sidebar
        .span10
          | Posts should be listed here
    include ../general/footer
