doctype 5
html
  include ../general/head
  body
    .container
      h1 Log in
      .hero-unit
        form.form-horizontal(method="POST", action="/admin/login/local")
          .control-group
            label.control-label(for="email") E-mail:
            .controls
              input(type="text", name="email", placeholder="Email", autofocus)
          .control-group
            label.control-label(for="password") Password:
            .controls
              input(type="password", name="password", placeholder="Password")
          .control-group
            .controls
              button.btn(type="submit") Sign in
        - each view in loginViews
          != view
