!!!
html
  include ../general/head
  body
    .container-fluid
      .row-fluid
        include ../general/sidebar
        form.span10(method="POST", action="", enctype="multipart/form-data")
          .row-fluid
            h1 Media
          .row-fluid
            .span9
              .row-fluid
                h2 Upload new file
                input(type="file", name="image")
              .row-fluid
                h2 Uploaded files
                - if (hasPost())
                  ul
                    - while(hasPost())
                      - thePost()
                      li
                        a(href=post.meta.original.url)
                          img(src=post.meta["thumb_small"].url)
            .span3
              p Metadata and stuff
              button.btn(type="submit") Upload image
    include ../general/footer
