/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
  color: @default;
}


body {
  background: @pale;
  font: 1.125em/1.64 @fBody;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-family: @fHeading;
  font-weight: 300;
}

h1 {
  font-size: @fxxL;
}

h2 {
  font-size: @fxL;
}

h3 {
  font-size: @fL;
}

a {
  color: @link;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
