@import "variables.less";
@import "mixins.less";
@import "banner.less";
@import "reset.less";
@import "highlight.less";
@import "general.less";
@import "helpers.less";
@import "print.less";


.headWrap {
  min-height: 1px;
  width: 300px;
  padding: 40px 30px 40px 40px;
  float: left;
}

.head {
  background: @pale;
  border-right: 1px solid @lightGray;
  width: 300px;
  padding: 40px 30px 40px 40px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;

  .title {
    margin: 0 0 0.5em;
    line-height: 1.1;
    font-size: @fxL;

    a {
      color: @default;
    }
  }

  img {
    border: 1px solid @primary;
    padding: 3px;
  }
}

.mainWrap {
  overflow: hidden;
}

.main {
  border-left: 1px solid @lightGray;
  padding: 0 40px 30px;
}

.post {
  margin-bottom: @fxxL;

  header {
    margin-bottom: 1em;
    position: relative;

    .h {
      margin: 0;
      margin-left: -2px;
      font-size: @fxL;
      font-weight: 900;
      line-height: 1;

      a {
        color: @black;
      }

      &.featured {
        background: rgba(0,0,0,0.5);
        margin: 0 -40px;
        padding: 20px 40px 25px;
        position: absolute;
        right: 0;
        bottom: 44px;
        left: 0;
        font-size: @fxL;
        font-weight: 900;

        a {
          color: @pale;
        }
      }
    }

    .timestamp {
      margin: 0.8em 0 0;
      font-family: @fPreamble;
      color: @subtle;
      text-transform: uppercase;
    }

    figure {
      margin: 0 -40px;

      .featured-image {
        max-width: 100%;
        .grayscale(0.4);
        .prefixed-transition(filter, 0.3s, linear);

        &:hover {
          .grayscale(0);
        }
      }
    }
  }

  .content {
    > p:first-of-type:not(:last-child) {
      font-size: @fxM;
      font-family: @fPreamble;
      font-weight: 600;
      color: @intense;
    }

    ol {
      counter-reset: generalOl;

      li {
        position: relative;
      }

      & > li::before {
        content: counter(generalOl);
        counter-increment: generalOl;

        position: absolute;
        top: 5px;
        left: -19px;

        color: @primary;
        font-size: 0.75em;
      }
    }

    ul {
      li {
        position: relative;
      }

      & > li::before {
        content: "";

        border: 1px solid @primary;
        border-radius: 4px;
        width: 4px;
        height: 4px;

        position: absolute;
        top: 13px;
        left: -18px;
      }
    }

    ol, ul {
      margin-bottom: 0.5em;

      ol, ul {
        margin-left: 28px;
      }
    }

    blockquote {
      border-left: 1px solid @primary;
      margin-left: -41px;
      padding-left: 41px;
      font-size: @fL;
      color: @primary;
    }

    pre {
      border-left: 1px solid @primary;
      max-height: 600px;
      margin: 1em 0 1em -41px;
      padding: 0 0 0 41px;
      overflow: auto;
      white-space: pre;
      word-wrap: normal;

      code {
        padding: 1em 0;
        font-size: 0.889em;
        line-height: 1.4;
      }
    }

    :not('pre') code {
      color: @lowlight;
    }
  }
}
