doctype 5
html
  include includes/head
  body
    .container-fluid
      .row-fluid
        include includes/sidebar
        .span10
          .span4
            h2 Last posts
            ul
              li Lorem
              li Ipsum
              li Dolor
              li Sit
          .span4
            h2 Most popular posts
            ol
              li Ipsum
              li Sit
              li Amet
              li Mjau
          .span4
            h2 Statistcs
            p
              | Some other data that doesn't actually help you...
    include includes/footer
