doctype 5
html
  include includes/head
  body
    .container-fluid
      .row-fluid
        include includes/sidebar
        .span10
          .span4
            h2 Latest posts
            - if (hasPost())
              ul
                - while (hasPost())
                  - thePost()
                  li
                    a(href=post.url.view)= post.title
                    | 
                    a(href=post.url.edit) (Edit)
                    | 
                    a(href=post.url.delete, data-method="post") (Delete)
          .span4
            h2 Most popular posts
            ol
              li Ipsum
              li Sit
              li Amet
              li Mjau
          .span4
            h2 Statistcs
            p
              | Some other data that doesn't actually help you...
    include includes/footer
