.span2
  ul.nav.nav-list
    li.nav-header Dashboard
    li.active
      a(href="#") Dashboard
    li.nav-header Posts
    li
      a(href="/admin/posts") Edit posts
    li
      a(href="/admin/posts/create") Add post
    li.nav-header Settings
    li
      a(href="/admin/settings/general") General
